{% extends 'base.html' %}
{%block title%}Tasker{%endblock%}
{%block content%}
{{ valid }}
{% for task in tasks %}
<table border=1>
    <tr>
        <td>Task</td>
        <td>Date of completion</td>
        <td>Actions</td>
    </tr>
    <tr>
        <td>{{ task.main_task }}</td>
        <td>{{ task.end_date }}</td>
        <td>
            <form action='{% url "tasker" request.user.username %}' method="post">
                <input type="text" value="{{ task.id }}" name = 'task_id' hidden="true">
                <input type="submit" value="Edit" name="edit">
            </form>
            <form action='{% url "tasker" request.user.username %}' method="post">
                <input type="text" value="{{ task.id }}" name = 'task_id' hidden="true">
                <input type="submit" value="Complete" name="complete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<p></p>
<form action='{% url "create" %}'>
                <input type="submit" value="Create new task" name="new_task">
            </form>
{%endblock%}